{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <nav class="navbar navbar-dark bg-secondary">
            <div class="container-fluid">
                <h1 class="navbar-brand">Decide</h1>
            </div>
        </nav>
          

        <div class="voting container text-center">
            <div class="card" style="width: 100%;">
            <h1 class="card-title">[[ voting.name ]]</h1>
            <h3 v-if="!voting.start_date" class="card-subtitle mb-2 text-muted">Votación no comenzada</h3>
            <h3 v-else-if="!voting.end_date" class="card-subtitle mb-2 text-muted">Votación en curso</h3>
            <div v-else>
                <h4>[[voting.question.desc]]</h4>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>
                <h2 class="heading">Gráficos:</h2>
                <canvas id="miGrafico" height="auto" width="auto"></canvas>
            </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.2.2/dist/js/bootstrap.js"></script>
    <!-- ChartJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        var voting = {{voting|safe}};
        const { createApp } = Vue
        createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    voting: voting
                }
            }
        }).mount('#app-visualizer')

    function generarColoresAleatorios(numColores) {
        var colores = [];
        for (var i = 0; i < numColores; i++) {
            var color = "#" + Math.floor(Math.random() * 16777215).toString(16);
            colores.push(color);
        }
        return colores;
}

    // Generamos colores aleatorios para cada dato en el gráfico
    var numDatos = voting.postproc.map((opt) => opt.option).length;
    var coloresAleatorios = generarColoresAleatorios(numDatos);

    // Configuramos el gráfico
    var config = {
        type: 'bar', 
        data: {
            labels: voting.postproc.map((opt) => opt.option),
            datasets: [
            {
                label: 'Resultado de la votación',
                data: voting.postproc.map((opt) => opt.votes),
                backgroundColor: coloresAleatorios,
                borderWidth: 4
            }
        ]
        },
        options: {
                responsive: true,
                title: {
                    text: voting.name,
                    display: true
                }
            }
    };

    var ctx = document.getElementById('miGrafico').getContext('2d');
    var myChart = new Chart(ctx, config);

    </script>
</body>
{% endblock %}
