<h1>{% trans "Sign Up" %}</h1>

<form method="POST">

    {% csrf_token %}

    <label for="username">{% trans "Username" %}:</label>
    <input type="text" name="username" required>

    <label for="first_name">{% trans "First name" %}:</label>
    <input type="text" name="first_name" required>

    <label for="last_name">{% trans "Last name" %}:</label>
    <input type="text" name="last_name" required>

    <label for="email">{% trans "Email" %}:</label>
    <input type="email" name="email" required>

    <label for="password1">{% trans "Password" %}:</label>
    <input type="password" name="password1" id="password1" required>

    <label for="password2">{% trans "Repeat password" %}:</label>
    <input type="password" name="password2" id="password2" required>

    <input type="submit" value="{% trans "Send" %}">

</form>

<p style="margin-top: 15px;">{% trans "Already registered?" %} <a href="/">{% trans "Return" %}</a></p>
