<h1>Sign Up</h1>

<form method="POST">

    {% csrf_token %}


    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <label for="first_name">First name:</label>
    <input type="text" name="first_name" required>

    <label for="last_name">Last name:</label>
    <input type="text" name="last_name" required>

    <label for="email">Email:</label>
    <input type="email" name="email" required>

    <label for="password1">Password:</label>
    <input type="password" name="password1" id="password1" required>

    <label for="password2">Repeat password:</label>
    <input type="password" name="password2" id="password2" required>

    <input type="submit" value="Send">

</form>

<p style="margin-top: 15px;">Already registered? <a href="/">Return</a></p>